# Compiled source #
###################

[Bb]in
[Oo]bj

# Local Media Files #
#####################

[Uu]pload

# Personalized User Files #
###########################

_ReSharper.*
*.ReSharper
*.dotCover
*.suo
*.user
*.cache


#Local development files#
#########################

cme/Web.config
Sitemap.xml



# crap #
########

*.orig

